*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}
.main{
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
#head{
    font-size: 80px;
    margin-bottom: 50px;
    color: #3f34f6;
}
.stopwatch{
    font-size: 100px;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.btn{
    display: flex;
}
button{
    padding: 20px;
    background-color: #694343;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: large;
    margin: 10px;
    width: 100px;
    box-shadow: 5px 5px 1px rgba(56, 51, 51, 0.5);
}
button:hover{
    cursor: pointer;
}
button:active{
    box-shadow: none;
    transition: all 0.5;

}



/* .main {
    text-align: center;
    margin-top: 250px;
    font-size: xx-large;
    color: blue;
    
}
button{
    font-size: large;
    padding: 10px ;
    border-radius: 10px;
    background-color: turquoise;
} */